body {
    background-color: $light;
    transition: all 0.4s ease;
}

body .subtitle,
body .title {
    color: $dark;
}

body.dark {
    background-color: $dark;
    color: $light;
}

body.dark .subtitle,
body.dark .title {
    color: $light;
}

button {
    color: $light;
    background: $dark;
}

body.dark button {
    background: $light;
    color: $dark;
}
